# Temel Veri İşleme ve Analiz
pandas

# Makine Öğrenmesi ve NLP için Temel Araçlar
scikit-learn

# Türkçe Stopwords (Etkisiz Kelimeler) için
nltk

# Modern Gömme (Embedding) Modelleri için
sentence-transformers
torch

# Backend
fastapi
uvicorn

# Frontend
streamlit

# AI / ML
transformers
accelerate
bitsandbytes
datasets
peft
trl
zemberek-python

# Development & Formatting
black 